body {
    font-family: Arial;
    margin:0;
}

header {
    width:100%;
    background:black;
    color: black;
}

img:not(.logo):not(.viewHQOpps) {
    width:100%;
    filter: brightness(0.4);
}

.imgOne{
    display: flex;            
  flex-direction: column;  
  position: relative;  
}


.firstPicWording{
    position: absolute;
    left: 60%;
    top: 30%;
    width:70%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align:center;
}

.ourVision {
    text-align:center;
}
.viewHQOpps{
    // transform: translate(120%, 300%);
    width: 100px;
    height: auto;
    // margin-bottom:15em;
}

.joinTeam{
    color:white;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-top:5em;
    margin-bottom:10em;
}

.teamPic{
    position:absolute;
    z-index:-1;
}

.viewHQOpps{
    margin-top:2em;
    width:12em;
}


